table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 2px;
}

thead {
  background-color: rgb(235, 235, 235);
}

.FAILED {
  color: red;
}

.ERROR {
  color: rgb(233, 19, 233);
}

.SUCCESS {
  color: green;
}

.UNTESTED {
  background-color: yellow;
}
